body {
        text-align: center;
        width: 300px;
        margin-left: 775px;
        margin-bottom: 500px;
        position: absolute;
        bottom: 4px;
               	font-size: 25px;


       	background-color: #CA9999;
       	background-size: 1920px 920px;
       	 background-repeat: no-repeat;
       	 margin-bottom: 450px;
       }

       
      